/*
* @Author: Dell
* @Date:   2018-12-24 16:21:48
* @Last Modified by:   Dell
* @Last Modified time: 2018-12-26 15:52:45
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
i{
    font-style: normal;
}
html,body{
    width: 100%;
    height: 100%;
}
input{
    outline: none;
}
.banner{
    width: 100%;
    /* height: 14rem; */
    background-image: url('../img/choujiang/linqian.png');
    background-size: cover;
    position: relative;
}
.guanbi{
    width: 100%;
    height: 1rem;
    padding: 0.8rem 0.8rem 0 0.8rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.4rem;
    color: #000;
    font-weight: bold;
}
.guanbi a{
    color: #000;
    text-decoration: none;
}
.jideng{
    width: 100%;
    height: 1rem;
    font-size: 0.35rem;
    color: #000;
    text-align: center;
    position: absolute;
    top: 3.6rem;

}
.banner h1{
    display: block;
    width: 100%;
    height: 1rem;
    font-size: 1rem;
    color: red;
    text-align: center;
    position: absolute;
    top: 4.5rem;
}
.hongbao{
    width: 100%;
    padding-left: 0.95rem;
    height: 1rem;
    text-align: left;
    font-size: 0.35rem;
    position: absolute;
    top: 7rem;
    color: #D4CCB9;
}